.contact-form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 20px; /* Adjust the margin as needed */
  }
  
  .purple-box {
    border: 2px solid black;
    background-color: transparent;
    padding: 20px;
    color: white;
    width: 500px;
  }
  
  
  .purple-box h2 {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    
    width: 100%;
    padding: 5px;
  }
  